@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.sroll-lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1289px;
  margin: 0px auto;
  padding: 0px 15px;
  /* PC */
  /* TABLET */
  /* MOBILE */
  /* MOBILE */
}
@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
@media (max-width: 479.98px) {
  [class*=__container] {
    max-width: none;
  }
}

.header {
  background: #F8F8F8;
  padding-top: 44px;
  padding-bottom: 31px;
}
@media (max-width: 767.98px) {
  .header {
    padding: 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__container {
    padding: 0;
  }
}
.header__logo {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(25px + 5 * ((100vw - 320px) / 969));
  line-height: 35px;
  color: #334756;
  transition: opacity 0.4s;
}
.header__logo:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 60px;
}
@media (max-width: 767.98px) {
  .header__buttons {
    display: none;
  }
}
.header__cart {
  width: 28.72px;
  height: 32px;
  display: block;
  background: url("./../img/icons/cart.svg") no-repeat center center;
  transition: opacity 0.4s;
}
.header__cart:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 767.98px) {
  .burger {
    width: 114.19px;
    height: 109px;
    background: #393D45;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .burger__button {
    position: relative;
    width: 50px;
    height: 25px;
    display: block;
  }
  .burger__button span, .burger__button::after, .burger__button::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #F4F4F4;
    margin: 0 auto;
    transition: 0.4s;
  }
  .burger__button span {
    top: 10.5px;
  }
  .burger__button::after, .burger__button::before {
    content: "";
  }
  .burger__button::after {
    bottom: 0px;
  }
  .burger__button::before {
    top: 0px;
  }
}
@media (max-width: 767.98px) {
  .burger__button.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }
  .burger__button.open-menu::before {
    transform: rotate(45deg);
    top: 50%;
    transition: 0.4s;
  }
  .burger__button.open-menu::after {
    transform: rotate(-45deg);
    top: 50%;
    transition: 0.4s;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 109px;
    background: #F8F8F8;
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 0.4s ease;
  }
  .menu__list.open-menu {
    left: 0;
  }
}
.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5E5E5E;
  transition: 0.3s;
}
.menu__link::after {
  display: block;
  position: relative;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5E5E5E;
  content: "";
  transition: width 0.3s ease-out;
}
.menu__link:hover {
  cursor: pointer;
  font-weight: 700;
}
.menu__link:focus {
  font-weight: 700;
}
.menu__link:hover::after, .menu__link:focus::after {
  width: 100%;
}
.menu__link_fucused {
  font-weight: 700;
}
.menu__link_fucused::after {
  display: block;
  position: relative;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5E5E5E;
  content: "";
  transition: width 0.3s ease-out;
  width: 100%;
}
.menu__separator {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5E5E5E;
}
@media (max-width: 767.98px) {
  .menu__separator {
    display: none;
  }
}

.button {
  width: 215.16px;
  height: 36px;
  background: #211F1C;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #FFFFFF;
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.button_login {
  width: 113px;
  height: 40px;
  background: #211F1C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  transition: opacity 0.4s;
}
.button_inverse {
  border: 1px solid #000000;
  background: #FFFFFF;
  color: #000000;
}

.path {
  margin-top: 40px;
}
.path__container {
  padding: 24px 19px;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.path__list {
  display: flex;
  align-items: center;
  gap: 31px;
}
.path__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: calc(25px + 7 * ((100vw - 320px) / 969));
  line-height: 38px;
  color: #616467;
  transition: opacity 0.4s;
}
.path__link:hover {
  opacity: 0.7;
}
.path__link.selected {
  font-weight: 700;
}
.path__separator {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: calc(25px + 7 * ((100vw - 320px) / 969));
  line-height: 38px;
  color: #616467;
}

.main {
  margin-top: 50px;
  margin-bottom: 95px;
}
.main__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 63px;
  padding: 0 35px;
}
@media (max-width: 992.98px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .sidebar {
    display: none;
  }
}
.sidebar__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #000000;
}
.sidebar__body {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.sidebar__price {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.sidebar__price-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__price-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #000000;
}
.sidebar__price-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__price-input {
  width: 101.19px;
  height: 31px;
  display: block;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #000000;
  text-align: center;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categories__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #000000;
}
.categories__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.categories__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #616467;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-checkbox + label::after {
  content: "";
  display: block;
  width: 15.98px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1.5px solid #616467;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: 0.3s;
}
.custom-checkbox:checked + label::after {
  border-color: #211F1C;
  background-color: #211F1C;
  background-image: url("./../img/icons/check.svg");
}
.custom-checkbox:not(:disabled):not(:checked) + label:hover::after {
  border-color: #211F1C;
}
.custom-checkbox:not(:disabled):active + label::after {
  border-color: #211F1C;
  background-color: #211F1C;
}
.custom-checkbox:focus + label::after {
  box-shadow: 0 0 0 0.2rem rgba(45, 45, 45, 0.25);
}
.custom-checkbox:focus:not(:checked) + label::after {
  border-color: #211F1C;
}
.custom-checkbox:disabled + label::after {
  background-color: #e9ecef;
}

.products {
  width: 100%;
  border-left: 1px solid #EBEBEB;
  padding-left: 57px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 992.98px) {
  .products {
    padding-left: 0;
    border-left: none;
  }
}
.products__search {
  max-width: 100%;
  height: 56px;
  background: url("./../img/icons/search.svg") no-repeat 23px center;
  background-color: #F5F7FB;
  border-radius: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #616467;
  padding-left: 88px;
}
.products__sortbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__result {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #000000;
}
.products__keyword {
  font-weight: 700;
}
.products__sorting {
  display: flex;
  align-items: center;
  gap: 10px;
}
.products__sortby {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #616467;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 479.98px) {
  .products__list {
    justify-content: center;
  }
}
.custom-select {
  width: 127.82px;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #ACACAC;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #616467;
}

.product {
  width: 203.44px;
  height: 332.8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product:nth-child(1) .product__body {
  background-image: url("./../img/products/mouse_1.png");
}
.product:nth-child(2) .product__body {
  background-image: url("./../img/products/mouse_2.png");
}
.product:nth-child(3) .product__body {
  background-image: url("./../img/products/mouse_3.png");
}
.product:nth-child(4) .product__body {
  background-image: url("./../img/products/mouse_4.png");
}
.product:nth-child(5) .product__body {
  background-image: url("./../img/products/mouse_5.png");
}
.product:nth-child(6) .product__body {
  background-image: url("./../img/products/mouse_6.png");
}
.product:nth-child(7) .product__body {
  background-image: url("./../img/products/mouse_7.png");
}
.product:nth-child(8) .product__body {
  background-image: url("./../img/products/mouse_8.png");
}
.product__body {
  width: 203.44px;
  height: 296.8px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 11px 25px;
}
.product__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104.37px;
  height: 25.56px;
  background: #211F1C;
  border-radius: 10px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transition: opacity 0.4s;
}
.product__detail:hover {
  cursor: pointer;
  opacity: 0.7;
}
.product__cart {
  display: block;
  width: 39.33px;
  height: 25.56px;
  background: url("./../img/icons/cart_product.svg") no-repeat center center;
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: opacity 0.4s;
}
.product__cart:hover {
  cursor: pointer;
  opacity: 0.7;
}
.product__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #616467;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 57px;
}
.product__price {
  font-weight: 400;
}

.footer {
  background: #484543;
  padding: 73px 0px 84px 0px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.footer__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}
.footer__copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: opacity 0.4s;
}
.footer__link:hover {
  cursor: pointer;
  opacity: 0.7;
}
.footer__link:nth-child(1) {
  background: url("./../img/icons/facebook.png") no-repeat center center;
}
.footer__link:nth-child(2) {
  background: url("./../img/icons/instagram.png") no-repeat center center;
}
.footer__link:nth-child(3) {
  background: url("./../img/icons/twitter.png") no-repeat center center;
}
.footer__link:nth-child(4) {
  background: url("./../img/icons/youtube.png") no-repeat center center;
}